
{% extends 'hello/base.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous">

{% block content %}


<div class="container border rounded my-4" >

    <!--Pirmas boxas-->
    <div class="mt-4 border rounded bg-light">
        <h3 class="text-center mt-2 font-italic" style="color: #406889;"> {{ post.headline }} </h3>
        <div class="card-body card-text">
        <hr>
            <div class="my-4">
            {{ post.content }}
            <hr>
            </div>
            <div class="row">
                <div class="col text-left font-weight-bold">Price: {{ post.price }}&euro;</div>
                <div class="col text-right font-weight-bold">{{ post.publish_date }}</div>
            </div>
        </div>
    </div>
   
    <!--Antras boxas-->
    {% if user.is_authenticated %}
    <div class="mt-4 border rounded bg-light">
        <form method="POST"> {% csrf_token %}
            <h4 class="mt-2 font-italic" style="color: #406889">Write a review</h4>
            <div class="form-group">
            <hr>
            {% for field in form %}
                <label>{{field.label_tag}}</label> 
                {{field}}
                <br>
            {% endfor%}
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
       </form>

    </div>
    {% endif %}

    <!--Trecias boxas-->
     <div class="mt-4 border rounded">
            <h4 class="font-italic" style="color: #406889">Reviews</h4>
            {% if reviews %}
                <ul class="list-group list-unstyled" >
                    {% for rew in reviews %}
                    <li class="container mb-2 border rounded bg-light" >
                    <h5 class="mt-1">{{ rew.headline }}</h5>
                    <div class="container p-2">
                        {{ rew.review_text }}
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <b>Score:</b>
                            <p>{{ rew.score }}</p>
                        </div>
                        <div class="col-sm">
                            <b>Review date:</b>
                            <p>{{ rew.publish_date }}</p>
                        </div>
                        <div class="col-sm">
                            <b>Author:</b>
                            <p>{{ rew.reviewAuthor }}</p>
                        </div>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <span>No reviews yet</span>
            {% endif %}
        </div>

{% endblock %}


