<h3> {{ post.headline }} </h3>
<div>
    <div>{{ post.content }}</div>
    <div>{{ post.price }}</div>
    <div>{{ post.publish_date }}</div>
</div>

<h4>Rašyti atsiliepimą</h4>
<form method="POST">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <button type="submit">Post</button>
</form>


<h4>Atsiliepimai</h4>
{% if reviews %}
<div>
  <ul class="list-group">
      {% for rew in reviews %}
      <li>
        {{ rew.headline }}
        {{ rew.review_text }}
        {{ rew.score }}
        {{ rew.publish_date }}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <span>Atsiliepimu nėra</span>
  {% endif %}
</div> 


