{% extends 'hello/base.html' %}

{% block content %}
<!-- Categories -->
<div class="container" style="background: #272d2d; color: #f7f7ff; border-radius: 5px; padding: 0px 25px; padding-bottom: 15px;">
    <h1 class="display-5 mt-4 text-center pb-2 pt-2">Trending posts</h1>
    {% if posts %}
    <ul class="list-group">
        {% for post in posts %}
        <a class="text-decoration-none" href="{% url 'detail' post.id %}">
        <li class="list-group-item list-group-item-action list-group-item-primary-custom mb-2 rounded">
            <h6>{{ post.headline }}</h6>
            <div class="row container">
                <h6 style="font-size:11px;margin-right: 10px">{{ post.publish_date }}</h6>
                <h6 style="font-size: 11px;margin-right: 10px">Posted by: {% if post.author.get_username %} {{ post.author.get_username }} {% else %} Anon {% endif %} </h6>
                <h6 style="font-size: 11px">Price: {{ post.price }} &euro;</h6>
            </div>
            {% if user.is_staff %}
            <a href="{% url 'admin:index' %}hello/post/{{ post.id }}/change">Edit</a>
            {% endif %}
          </li>
          </a>
          {% endfor %}
      </ul>
      {% else %}
      <span>No posts. :(</span>
    {% endif %}
</div>
{% endblock %}