.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.content {
    min-height: 80px;
    border: 1px solid red;
}

ul {
    list-style-type: none;
  }
